<div class="interactive-controls">
	<h2>Axes & Instances</h2>

	<ul id="myBtnContainer">
		<li class="btn active"><a href="#" id="align-left">Left</a></li>
		<li class="btn"><a href="#" id="align-right">Right</a></li>
		<li class="btn"><a href="#" id="align-justify">Justify</a></li>
	</ul>

	<ul class="interactive-controls-sliders">
		<li>
			<label for="interactive-controls-line-height">Line height</label>
			<input
				type="range"
				min="0.8"
				max="2"
				value="1.1"
				name="line-height"
				id="interactive-controls-line-height"
				step="0.05"
				class="interactive-controls-slider"
			/>
		</li>
		<li>
			<label for="interactive-controls-fontsize">Size</label>
			<input
				type="range"
				min="9"
				max="260"
				value="56"
				name="font-size"
				id="interactive-controls-fontsize"
				step="any"
				class="interactive-controls-slider"
			/>
		</li>
		{% for axis in axes %}
		<li>
			<label for="axis-{{ axis.axis }}">{{ axis.name }}</label>
			<input
				type="range"
				min="{{ axis.min }}"
				max="{{ axis.max }}"
				value="{{ axis.default }}"
				name="{{ axis.axis }}"
				id="axis-{{ axis.axis }}"
				step="{{ axis.step | default: 0.1 }}"
				class="interactive-controls-slider"
			/>
		</li>
		{% endfor %}
	</ul>

	<div>
		<label for="interactive-controls-instances-select">Instances</label>
		<select
			id="interactive-controls-instances-select"
			class="interactive-controls-instances"
		>
			{% for instance in instances %}
			<option value="{{ instance.axes | json_stringify | escape }}"
				>{{ instance.name }}</option
			>
			{% endfor %}
		</select>
	</div>

	<div id="preview" class="interactive-controls-text" contenteditable="true">
		<h1>Let's see if it's the length of something that shows up the line-height as a range slider, but maybe not</h1>
		<p></p>
		<p></p>
	</div>
</div>
