<div class="language p-3u {{ main_selector }}">
	<div class="">
		<h3>Lanugages supported by the font</h3>
		<h4>Extended latin</h4>
		<p>
			Afrikaans, Albanian, Basque, Bosnian, Breton, Catalan, Croatian, Czech, Danish, Dutch, English, Esperanto, Estonian, Faroese, Fijian, Finnish, Flemish, French, Frisian, German, Greenlandic, Hawaiian, Hungarian, Icelandic, Indonesian, Irish, Italian, Latin, Latvian, Lithuanian, Malay, Maltese, Maori, Moldavian, Norwegian, Polish, Portuguese, Provençal, Romanian, Romany, Sámi (Inari), Sámi (Luli), Sámi (Northern),
Sámi (Southern), Samoan, Scottish Gaelic, Slovak, Slovenian, Sorbian, Spanish, Swahili, Swedish, Tagalog, Turkish, Welsh
		</p>
	</div>
</div>
