<div class="masthead">
	<div class="masthead-title {{ fontclass }}">
		<h2 class="type-xl fw400">{{ content.typeface }}</h2>
		<p class="type-8xl fw900">{{ content.poster }}</p>
	</div>

	<div class="masthead-meta">
		<a href="{{ content.link }}" class="button">Get {{ content.typeface }}</a>

		<p>{{ content.about }}</p>

		<h3>Published</h3>
		<p>{{ content.published }}</p>

		<h3>Designers</h3>
		<p>{{ content.designers }}</p>

		<h3>Language support</h3>
		<ul>
			<li><a href="#language-extended-latin">Extended Latin</a></li>
			<li><a href="#greek">Greek</a></li>
			<li><a href="#cyrillic">Cyrillic</a></li>
			<li><a href="#arabic">Arabic</a></li>
		</ul>
	</div>
</div>