<div class="masthead">
	<h2 class="type-xl fw400">{{ site.typeface }}</h2>
	<p class="type-8xl fw900">Gg Ss</p>
	<p class="type-m fw400 lh13">About {{ site.typeface }}: {{ site.about }}</p>
	<p class="fw400 lh13">Designers: {{ site.designers }}</p>
</div>
<div class="masthead-meta">
	
	<button>Get {{ site.typeface }}</button>
	<h3>Published</h3>
	<p>2019</p>

	<h3>Designers</h3>
	<ul>
		<li><a href="">Arrow Type</a></li>
		<li><a href="">Stephen Nixon</a></li>
	</ul>

	<h3>Features</h3>
	<ul>
		<li>Opentype features</li>
		<li>Variable font</li>
	</ul>

	<h3>Language support</h3>
	<ul>
		<li><a href="">Extended Latin</a></li>
		<li><a href="">Greek</a></li>
		<li><a href="">Cyrillic</a></li>
		<li><a href="">Arabic</a></li>
	</ul>
</div>