<div class="navigation">
	<button aria-labelledby="toggle-label" type="button" class="dark-mode-toggle">
		<span hidden id="toggle-label">toggle dark and light mode</span>
		<svg height="48" width="48" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs>
		<style>.a{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}</style>
		<style>.b{fill:black;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}</style>
		</defs><title>Toggle dark mode</title><circle class="b" cx="12.001" cy="12" r="4.5" /><line class="a" x1="12.001" y1="1.5" x2="12.001" y2="4.5"/><line class="a" x1="12.001" y1="19.5" x2="12.001" y2="22.5"/><line class="a" x1="22.501" y1="12" x2="19.501" y2="12"/><line class="a" x1="4.501" y1="12" x2="1.501" y2="12"/><line class="a" x1="19.425" y1="4.576" x2="17.304" y2="6.697"/><line class="a" x1="6.697" y1="17.304" x2="4.576" y2="19.425"/><line class="a" x1="19.425" y1="19.425" x2="17.304" y2="17.304"/><line class="a" x1="6.697" y1="6.697" x2="4.576" y2="4.576"/></svg>
	</button>
</div>
