<div class="setting pb-3u pt-3u">
	<div class="column-1">
		<p class="meta">Font size: xxxl</p>
		<p class="type-3xl fw900 lh09 {{ main_selector }}">{{ content.setting1 }}</p>

		<p class="meta">Font size: xxl</p>
		<p class="type-2xl fw500 lh10 {{ main_selector }}">{{ content.setting2 }}</p>

		<p class="meta">Font size: l</p>
		<p class="type-l fw300 {{ main_selector }}">{{ content.setting3 }}</p>
	</div>

	<div class="column-2 align-justify">
		<p class="meta centre">Font size: m</p>
		<p class="type-m {{ main_selector }}">{{ content.setting4 }}</p>

		<p class="meta centre">Font size: 1em</p>
		<p class="columns-2 {{ main_selector }}">{{ content.setting5 }}</p>

		<p class="meta centre">Font size: s</p>
		<p class="columns-3 type-s {{ main_selector }}">{{ content.setting6 }}</p>
	</div>
</div>
