<div class="specimen align-centre pb-5u pt-5u {{ main_selector }}">
	<p class="type-6xl {% include utilities/reading-direction.html %} stixtwotext-bold lh08">{{ content.specimen1 }}</p>
	<p class="type-5xl {% include utilities/reading-direction.html %} stixtwotext-italic lh13">{{ content.specimen2 }}</p>
	<p class="type-4xl {% include utilities/reading-direction.html %} lh11">{{ content.specimen3 }}</p>
	<p class="type-3xl {% include utilities/reading-direction.html %} stixtwotext-bolditalic lh10">{{ content.specimen4 }}</p>
</div>
