<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="description" content="{{ site.description }}" />
		{%- for metatag in site.metatags %}
		<meta{% for m in metatag %} {{m[0]}}="{{m[1]|escape}}" {% endfor %} />
		{%- endfor %}
		<title>
			{{ site.title or renderData.title or title or metadata.title }}
		</title>
		<link
			rel="stylesheet"
			href="{% webpackAssetPath '../css/main.css' %}"
		/>
		<script defer src="{% webpackAssetPath '../js/main.js' %}"></script>
		<script>
			document.documentElement.setAttribute(
				"data-dark-mode",
				localStorage.getItem("dark-mode")
			);
		</script>
	</head>

	<body>
		<button
			aria-labelledby="toggle-label"
			type="button"
			class="dark-mode-toggle"
		>
			<span hidden id="toggle-label">toggle dark and light mode</span>
			<svg
				height="48"
				width="48"
				aria-hidden="true"
				focusable="false"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 32 32"
			>
				<path
					d="M15 2h2v3h-2zM27 15h3v2h-3zM15 27h2v3h-2zM2 15h3v2H2zM5.44992604 6.88351768L6.8641396 5.4693041l2.12132034 2.12132035-1.41421356 1.41421356zM22.99965005 7.58090045l2.12132034-2.12132034 1.41421356 1.41421356L24.41386361 8.995114zM23.00230299 24.4164466l1.41421356-1.41421355 2.12132034 2.12132034-1.41421356 1.41421356zM5.47 25.13L7.59 23 9 24.42l-2.12 2.12-1.41-1.41zM16 8a8 8 0 108 8 8 8 0 00-8-8zm0 14a6 6 0 010-12z"
				/>
			</svg>
		</button>
		{{ content }}
	</body>
	<script>
		document
			.querySelector(".dark-mode-toggle")
			.addEventListener("click", () => {
				const isDarkMode = localStorage.getItem("dark-mode") === "true";
				document.documentElement.setAttribute(
					"data-dark-mode",
					!isDarkMode
				);
				localStorage.setItem("dark-mode", !isDarkMode);
			});
	</script>
</html>
