:root {
	--character-grid-cell: 4rem;
	--character-grid-font-zize: 3rem;
	--character-grid-gap: 0;
}

ol {
	margin: 0;
	padding: 0;
}

.container-glyphs {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 1px 1px;
	grid-template-areas: "glyphs preview";
	position: relative;
}

.character-grid-zoom-container {
	pointer-events: none;
	position: sticky;
	top: 0;
	background: var(--background);
	font-size: 28vw;
	text-align: center;
}

.container-preview {
	grid-area: glyphs;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.character-grid {
	grid-area: preview;
}

.character-grid-list {
	list-style-type: none;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(
		auto-fill,
		minmax(var(--character-grid-cell), 1fr)
	);
	column-gap: var(--character-grid-gap);
	row-gap: var(--character-grid-gap);
	font-size: var(--character-grid-font-zize);
	border-left: 1px solid var(--grey-dark);
	border-top: 1px solid var(--grey-dark);
	background: var(--background);
}

.character-grid-list > li {
	height: var(--character-grid-cell);
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid var(--grey-dark);
	border-right: 1px solid var(--grey-dark);
}

.character-grid-list > li:hover {
	cursor: pointer;
	background-color: var(--grey-light);
}
