/* Generic CSS */
:root {
	--page-bg: #fff;
	--page-text: #000;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	background: var(--page-bg);
	color: var(--page-text);
}

ol,
ul {
	list-style-type: none;
	padding: 0;
}
