.interactive-controls {
	--label-width: 8em;
}

.interactive-controls-text {
	font-size: calc(var(--font-size) * 1px);
}

.interactive-controls-instances,
.interactive-controls-sliders li {
	display: flex;
}

.interactive-controls label {
	flex: none;
	min-width: var(--label-width);
}

.interactive-controls-instances select,
.interactive-controls-slider {
	width: 100%;
}
